* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

/* header halaman index */
#header {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

.logo-space {
    width: 100px;
    height: 50px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}


.inner-nav ul li a.active::after {
    width: 100%;
}


.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

/* header menu selain index */
.inner-page #header {
    height: 35vh;
    background: #111;
    background-image: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-page .header-text {
    margin: 0 !important;
    font-size: 40px;
    text-align: center;
}

.inner-page .header-text h1 {
    font-size: 55px;
    margin: 0;
}

.inner-page .header-text p {
    display: none;
}

.inner-nav {
    padding-top: 10px;
    padding-bottom: 20px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    margin-left: -153px;
}

.inner-nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.inner-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.inner-nav ul li a:hover {
    opacity: 1;
}

.inner-nav ul li a.active::after {
    width: 100%;
}





#about {
    padding: 80px 0;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#service {
    padding: 30px 0;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.service-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.service-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 220px;     
    object-fit: cover; 
    border-radius: 10px;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.inner-page #contact {
    padding-top: 40px;
}


.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

.contact-left {
    flex-basis: 35%;
    margin-bottom: 10px;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.social-icons {
    margin-top: 20px;
}

.social-link {
    display: inline-block;
    margin-right: 15px;
    font-size: 16px;
    color: #ff004f;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

.social-link:hover {
    color: #fff;
    border-bottom: 1px solid #ff004f;
}


.contact-right form {
    width: 100%;
}


form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.form btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.btn3 {
    display: inline-block;
    margin: 20px 10px 0 0;
    padding: 12px 25px;
    font-size: 16px;
    border: 1px solid #ff004f;
    border-radius: 6px;
    background: transparent;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.btn3:hover {
    background: #ff004f;
}